@import url(https://fonts.googleapis.com/css?family=Montserrat);
 * {
	 box-sizing: border-box;
     margin: 0px;
     padding: 0px;
}
 .cf:before, .bar:before, .cf:after, .bar:after {
	 content: " ";
	 display: table;
}
 .cf:after, .bar:after {
	 clear: both;
}

 body {
	 background: rgb(171, 171, 171);

	 font-family: montserrat, arial, verdana;
}
 #btno {
	 width: 100px;
	 background: #ffcc13;
	 font-weight: bold;
	 font-size: 14px;
	 color: white;
	 display: inline-block;
	 text-decoration: none;
	 text-align: center;
	 border-radius: 2px;
	 padding: 10px 5px;
	 margin: 10px 5px;
}
 #btno:hover {
	 box-shadow: 0 0 0 2px white, 0 0 0 3px #ffcc13;
	 background-color: white;
	 color: #ffcc13;
}
.bodys {

    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
	color: black;
    background-color: #faf8f8;
}

.h {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    color:black;
    margin: 50px 0;
}


.contain {
    width: min(80%,500px);
    text-align: center;
	margin-bottom: 40px;
}

.counte {
    width: 100%;
    display: block;
}

@media (min-width:768px) {
    .counte {
        display: flex;
        justify-content: space-between;
    }
	.item{
		margin: 10px;
	padding: 10px;
	}

}
@media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
	.m{
		background-size: 400px;
		background-repeat: repeat;
	}
  }

.item {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    color:black;
	justify-content: center;
    align-items: center;
	border: solid 5px black;
	margin: 10px;
	padding: 10px;
}

.item i {
    font-size: 2rem;
}

.counte {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.counte__text {
    font-size: .7rem;
}
